//- FOOTER
footer
  .row.navs
    .col-sm-6.col-md-3
      section
        h2 Main menu
        ul.nav.nav-pills.nav-stacked
          li
            a(href="#") News

          li
            a(href="#") Bookmarkers

          li
            a(href="#") Tips

          li
            a(href="#") Schedule

    .col-sm-6.col-md-3
      section
        h2 Policy
        ul.nav.nav-pills.nav-stacked
          li
            a(href="#") Private policy

          li
            a(href="#") Underage policy

          li
            a(href="#") FAQ

          li
            a(href="#") Schedule

    .col-sm-6.col-md-3
      section
        h2 We support responsible gambling 
        ul.nav.nav-pills.nav-stacked
          li
            a(href="#") Gamble Aware

          li
            a(href="#") Gamecare

    .col-sm-6.col-md-3
      section
        h2 Info
        ul.nav.nav-pills.nav-stacked
          li
            a(href="#") About us

          li
            a(href="#") Contact
        a(href="#").logo
          img(src="files/img/logo-wsn.png", alt="")

  .row.copy
    ul.link-socials
      li 
        a(href="#") 
          +fa-ico-circle('facebook')

      li 
        a(href="#") 
          +fa-ico-circle('google-plus')

      li 
        a(href="#") 
          +fa-ico-circle('twitter')

    p © Rebel Penguin A/S 2016


