header
  figure
    img(src="files/img/img-bookmarker.png", alt="")
    .caption
      .label.label-default Bookmarker

  aside.info-bookmarker
    h2 Bet365
    div.points
      +fa-ico('star')
      +fa-ico('star')
      +fa-ico('star')
      +fa-ico('star')
      +fa-ico('star-o')

    ul.options
      li
        strong Live Suppport
        span Yes

      li
        strong Mobile Friendly
        span Yes

      li
        strong Payments Methods
        span Yes

    .info-country
      img(src="files/img/ico-flag.png", alt="")
      | Players from Denmark accepted 
