section.row-cw-cols
	.row.list-cols.cols3
		article.bookmarkers
			header
				figure
					a(href="#")
						img(src="files/img/bm-b3.png", alt="")
			main
				h2
					a(href="detail-bookmarker.html") Bet with Bet365 and get a free bonus on 1,000 €.
				div.options
					a(href="detail-bookmarker.html") Read review
					a.btn.btn-default(role="button",href="detail-bookmarker.html") Play

		article.bookmarkers
			header
				figure
					a(href="#")
						img(src="files/img/bm-b3.png", alt="")
			main
				h2
					a(href="detail-bookmarker.html") Bet with Bet365 and get a free bonus on 1,000 €.
				div.options
					a(href="detail-bookmarker.html") Read review
					a.btn.btn-default(role="button",href="detail-bookmarker.html") Play

		article.bookmarkers
			header
				figure
					a(href="#")
						img(src="files/img/bm-b3.png", alt="")
			main
				h2
					a(href="detail-bookmarker.html") Bet with Bet365 and get a free bonus on 1,000 €.
				div.options
					a(href="detail-bookmarker.html") Read review
					a.btn.btn-default(role="button",href="detail-bookmarker.html") Play

	.row.list-cols.cols3
		article.bookmarkers
			header
				figure
					a(href="#")
						img(src="files/img/bm-b3.png", alt="")
			main
				h2
					a(href="detail-bookmarker.html") Bet with Bet365 and get a free bonus on 1,000 €.
				div.options
					a(href="detail-bookmarker.html") Read review
					a.btn.btn-default(role="button",href="detail-bookmarker.html") Play

		article.bookmarkers
			header
				figure
					a(href="#")
						img(src="files/img/bm-b3.png", alt="")
			main
				h2
					a(href="detail-bookmarker.html") Bet with Bet365 and get a free bonus on 1,000 €.
				div.options
					a(href="detail-bookmarker.html") Read review
					a.btn.btn-default(role="button",href="detail-bookmarker.html") Play

		article.bookmarkers
			header
				figure
					a(href="#")
						img(src="files/img/bm-b3.png", alt="")
			main
				h2
					a(href="detail-bookmarker.html") Bet with Bet365 and get a free bonus on 1,000 €.
				div.options
					a(href="detail-bookmarker.html") Read review
					a.btn.btn-default(role="button",href="detail-bookmarker.html") Play

	.row.list-cols.cols3
		article.bookmarkers
			header
				figure
					a(href="#")
						img(src="files/img/bm-b3.png", alt="")
			main
				h2
					a(href="detail-bookmarker.html") Bet with Bet365 and get a free bonus on 1,000 €.
				div.options
					a(href="detail-bookmarker.html") Read review
					a.btn.btn-default(role="button",href="detail-bookmarker.html") Play

		article.bookmarkers
			header
				figure
					a(href="#")
						img(src="files/img/bm-b3.png", alt="")
			main
				h2
					a(href="detail-bookmarker.html") Bet with Bet365 and get a free bonus on 1,000 €.
				div.options
					a(href="detail-bookmarker.html") Read review
					a.btn.btn-default(role="button",href="detail-bookmarker.html") Play
