nav.buttons-social-share
  ul
    li 
        a(href="#").fb
          +fa-ico('facebook-official') 
          | Share on Facebook

      li 
        a(href="#").gp
          +fa-ico('google-plus') 
          | Share on Google+

      li 
        a(href="#").tw
          +fa-ico('twitter') 
          | Share on Twitter