section.more-info
  header 
    h2 SEO TEXT
  main
    p 
      | Manchester City Demichelis hints at international retirement. 
      a(href="#") Manchester City 
      | Demichelis hints at international retirement.Manchester City Demichelis hints at. Manchester City Demichelis hints at international retirement. Manchester City Demichelis hints at international retirement.Manchester City Demichelis hints at.Manchester City Demichelis hints at international retirement. Manchester City Demichelis hints at international retirement.Manchester City Demichelis hints at. Manchester City Demichelis hints at international retirement. Manchester City Demichelis hints at international retirement.Manchester City Demichelis hints at.Manchester City Demichelis hints at international retirement. Manchester City Demichelis hints at international retirement.Manchester City.