section.list-bookmarkers
  header
    h2 Top Bookmarkers

  main
    ul
      li
        a(href="detail-bookmarker.html")
          img(src="files/img/wsn-b-logo-b3.png", alt="")
        strong Bet365
        a.btn.btn-default(href='#', role='button') Play

      li
        a(href="detail-bookmarker.html")
          img(src="files/img/wsn-b-logo-wh.jpg", alt="")
        strong William Hill
        a.btn.btn-default(href='#', role='button') Play

      li
        a(href="detail-bookmarker.html")
          img(src="files/img/wsn-b-logo-ub.jpg", alt="")
        strong Unibet
        a.btn.btn-default(href='#', role='button') Play

      li
        a(href="detail-bookmarker.html")
          img(src="files/img/wsn-b-logo-bf.jpg", alt="")
        strong Betfair
        a.btn.btn-default(href='#', role='button') Play

      li
        a(href="detail-bookmarker.html")
          img(src="files/img/wsn-b-logo-lb.jpg", alt="")
        strong Ladbrokes
        a.btn.btn-default(href='#', role='button') Play

      li
        a(href="detail-bookmarker.html")
          img(src="files/img/wsn-b-logo-b3.png", alt="")
        strong Bet365
        a.btn.btn-default(href='#', role='button') Play

      li
        a(href="detail-bookmarker.html")
          img(src="files/img/wsn-b-logo-wh.jpg", alt="")
        strong Bet365
        a.btn.btn-default(href='#', role='button') Play

