aside.bookmarkers-vs-content
  .row.list-cols
    article
      h2 Good things
      ul
        li Democratic Party presidential
        li Hopefuls Hillary Clinton and 
        li Sanders spar over immigration
        li TV debate in Florida

    article
      h2 Less good things
      ul
        li Less good things
        li Hopefuls Hillary Clinton and
