main
  h1 Football transfer rumours: Paul Pogba to Manchester City?
  strong.sp.b3
      em Sponsored by 
      a(href='http://ladbrokes.com')
        img.media-o-h(src='files/img/wsn-b-logo-b3.png', width='2552', height='1766', alt='')
  .cms 
    p OKLAHOMA CITY -- <strong>Playing against</strong> a Los Angeles Clippers team resting three starters, the Oklahoma City Thunder found themselves in an unexpected position.
    p The <a href="#">score</a> was tied 117-117 with 40 seconds left. The Thunder were hunting a 2-for-1 possession, and Kevin Durant launched a wing 3 that clanged high off the back of the rim. Wesley Johnson skied for a rebound, securing it on his way down. Russell Westbrook knifed in from behind, popping the ball from Johnson's hands. Westbrook grabbed it and signaled to the bench for a timeout. On the next possession with a tipped rebound, Steven Adams put the Thunder ahead.Westbrook wasn't done. Austin Rivers drove the lane looking for a tying layup. He missed long off the backboard, and there was Westbrook again, trampolining above the other nine players on the floor to pull in the sealing rebound as the Thunder held on, 119-117.
    p "He <em>jumped</em> really high," <u>Adams said</u>. "Really high."
    p These are just plays Westbrook makes. In a big spot, in a crucial moment, he comes up with something. It's what he does. He doesn't really know how to explain how. Or why. He just knows he keeps doing it. "I just try to make the plays that help us win games, man," Westbrook said. "I'm the type of guy that would try to make something happ n. Sometimes I gamble, sometimes it works and sometimes it doesn't. But I'm the guy that is going to put my body on the line for my team and try to find a way to help us win." These are just plays Westbrook makes. In a big spot, in a crucial moment, he comes up with something. It's what he does. He doesn't really know how to explain how. Or why. He just knows he keeps doing it.
    p “I just try to make the plays that help us win games, man,” Westbrook said. “I'm the type of guy that would try to make something happen. Sometimes I gamble, sometimes it works and sometimes it doesn't. But I'm the guy that is going to put my body on the line for my team and try to find a way to help us win.” These are just plays Westbrook makes. In a big spot, in a crucial moment, he comes up with something. It's what he does. He doesn't really know how to explain how. Or why. He just knows he keeps doing it. "I just try to make the plays that help us win games, man” Westbrook said. "I'm the type of guy that would try to make. 
      br
      |  These are just plays Westbrook makes. In a big spot, in a crucial moment, he comes up with something. It's what he does. He doesn't really know how to explain how. Or why. He just knows he keeps doing it.
    ul
      li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae explicabo, illum optio at, pariatur numquam dolorum voluptatibus aliquid similique velit, corrupti quidem. Accusantium ad quos odio nesciunt iure quas totam.      
      li Lorem ipsum dolor sit amet. 
      li 
        a(href="#") Lorem ipsum dolor sit.
    p "I just try to make the plays that help us win games, man," Westbrook said. "I'm the type of guy that would try to make something happen. Sometimes I gamble, sometimes it works and sometimes it doesn't. But I'm the guy that is going to put 
    
    figure.gallery
      a(href="#")
        img(src="files/img/img-gal-news-1.jpg", alt="")
      a(href="#")
        img(src="files/img/img-gal-news-2.jpg", alt="")

    p my body on the line for my team and try to find a way to help us win." These are just plays Westbrook makes. In a big spot, in a crucial moment, he comes up with something. It's what he does. He doesn't really know how to explain how. Or why. He just knows he keeps doing it. "I just try to make the plays that help us win games, man," Westbrook said. "I'm the type of guy that would try to make.
