header
  figure
    img(src="files/img/article-1.png", alt="")
    ul.link-socials
      li 
        a(href="#") 
          +fa-ico-circle('facebook')

      li 
        a(href="#") 
          +fa-ico-circle('google-plus')

      li 
        a(href="#") 
          +fa-ico-circle('twitter')
    .caption
      .label.label-default Tips

  strong.summary Democratic Party presidential hopefuls Hillary Clinton and Bernie Sanders spar over immigration at a TV debate in Florida, ahead of a key vote in the state.

  aside.user-info-detail
    div
      figure
        a(href="#")
          img(src="files/img/author.jpg", alt="")
          strong Name namesen
      time 14 March 2016

