aside.info-tip
  div.col
    p.team
      strong 
        | Team a vs. Team b:  
      time 
        | 03.04.16
        span 21:00

    p.stake
      strong 
        | Stake:
      span 
        | 10

    p.odds
      strong 
        | Odds:
      span 
        | 1.2 / 
        a(href="#") Bet365   
        time 04.04.16

  div.col
    p.tip
      a(href="#") Tip!

    p.text
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.

    div.play
      a(href="#").btn.btn-play Play