section.list-items-simple-media
  header
    h2 Latest News

  main
    

    ul
      li.media
        .media-left
          a(href='detail-new.html')
            img(src="files/img/article-1.png", alt="")
          time 14 March 2016 
        .media-body
          h3.media-heading 
            a(href="detail-new.html") Holland’s Riechedly Bazoer set to face England with help from Bergkamp

      li.media
        .media-left
          a(href='detail-new.html')
            img(src="files/img/article-2.jpg", alt="")
          time 14 March 2016 
        .media-body
          h3.media-heading 
            a(href="detail-new.html") Fulham and Shahid Khan look for answers with League One abyss nearing

      li.media
        .media-left
          a(href='detail-new.html')
            img(src="files/img/article-3.jpg", alt="")
          time 14 March 2016 
        .media-body
          h3.media-heading 
            a(href="detail-new.html") Gareth Southgate’s latest England Under‑21 crop starting to blossom

      li.media
        .media-left
          a(href='detail-new.html')
            img(src="files/img/article-4.jpg", alt="")
          time 14 March 2016 
        .media-body
          h3.media-heading 
            a(href="detail-new.html") Gareth Southgate’s latest England Under‑21 crop starting to blossom

      li.media
        .media-left
          a(href='detail-new.html')
            img(src="files/img/article-5.jpeg", alt="")
          time 14 March 2016 
        .media-body
          h3.media-heading 
            a(href="detail-new.html") Holland’s Riechedly Bazoer set to face England with help from Bergkamp

