section
  .row.list-tops
    article.featured
      main
        .thumbnail
          a(href="detail-tip.html")
            img(src="files/img/article-1.png", alt="")
        .caption
          .label.label-default.sec-tips Tips
          h3 
            a(href="detail-tip.html") Football transfer rumours: Paul Pogba to Manchester City?
          p Today’s rumours are heading for the hip-hop chip shop  
          time 14 March 2016

  .row.list-cols.cols3
    article
      main
        .thumbnail
          a(href="detail-new.html")
            img(src="files/img/article-2.jpg", alt="")
        .caption
          .label.label-default.sec-news News
          h3 
            a(href="detail-new.html") Liverpool confident of signing Mario Götze because of Klopp connection
          p Arsenal Özil refuses to give up on Premier League title bid
          time 14 March 2016

    article
      main
        .thumbnail
          a(href="detail-tip.html")
            img(src="files/img/article-3.jpg", alt="")
        .caption.sp
          h3 
            a(href="detail-tip.html") Liverpool confident of signing Mario Götze because of Klopp connection
          strong.sp.b3
            em Sponsored by 
            a(href="#")
              img(src="files/img/wsn-b-logo-b3.png", alt="")

          p Today’s rumours are heading for the hip-hop chip shop  
          time 14 March 2016
          .label.label-default.sec-tips Tips

    article
      main
        .thumbnail
          a(href="detail-new.html")
            img(src="files/img/article-2.jpg", alt="")
        .caption
          .label.label-default.sec-news News
          h3 
            a(href="detail-new.html") Liverpool confident of signing Mario Götze because of Klopp connection
          p Arsenal Özil refuses to give up on Premier League title bid
          time 14 March 2016

  .row.list-cols.cols3
    article
      main
        .thumbnail
          img(src="files/img/article-2.jpg", alt="")
        .caption
          .label.label-default.sec-news News
          h3 
            a(href="#") Liverpool confident of signing Mario Götze because of Klopp connection
          p Arsenal Özil refuses to give up on Premier League title bid
          time 14 March 2016

    article
      main
        .thumbnail
          img(src="files/img/article-3.jpg", alt="")
        .caption.sp
          h3 
            a(href="#") Liverpool confident of signing Mario Götze because of Klopp connection
          strong.sp.b3
            em Sponsored by 
            a(href="#")
              img(src="files/img/wsn-b-logo-b3.png", alt="")

          p Today’s rumours are heading for the hip-hop chip shop  
          time 14 March 2016
          .label.label-default.sec-tips Tips

    article
      main
        .thumbnail
          img(src="files/img/article-2.jpg", alt="")
        .caption
          .label.label-default.sec-news News
          h3 
            a(href="#") Liverpool confident of signing Mario Götze because of Klopp connection
          p Arsenal Özil refuses to give up on Premier League title bid
          time 14 March 2016

  .row.list-cols.cols3
    article
      main
        .thumbnail
          img(src="files/img/article-2.jpg", alt="")
        .caption
          .label.label-default.sec-news News
          h3 
            a(href="#") Liverpool confident of signing Mario Götze because of Klopp connection
          p Arsenal Özil refuses to give up on Premier League title bid
          time 14 March 2016

    article
      main
        .thumbnail
          img(src="files/img/article-3.jpg", alt="")
        .caption.sp
          h3 
            a(href="#") Liverpool confident of signing Mario Götze because of Klopp connection
          strong.sp.b3
            em Sponsored by 
            a(href="#")
              img(src="files/img/wsn-b-logo-b3.png", alt="")

          p Today’s rumours are heading for the hip-hop chip shop  
          time 14 March 2016
          .label.label-default.sec-tips Tips

    article
      main
        .thumbnail
          img(src="files/img/article-2.jpg", alt="")
        .caption
          .label.label-default.sec-news News
          h3 
            a(href="#") Liverpool confident of signing Mario Götze because of Klopp connection
          p Arsenal Özil refuses to give up on Premier League title bid
          time 14 March 2016

  .row.list-cols.cols3
    article
      main
        .thumbnail
          img(src="files/img/article-2.jpg", alt="")
        .caption
          .label.label-default.sec-news News
          h3 
            a(href="#") Liverpool confident of signing Mario Götze because of Klopp connection
          p Arsenal Özil refuses to give up on Premier League title bid
          time 14 March 2016

    article
      main
        .thumbnail
          img(src="files/img/article-3.jpg", alt="")
        .caption.sp
          h3 
            a(href="#") Liverpool confident of signing Mario Götze because of Klopp connection
          strong.sp.b3
            em Sponsored by 
            a(href="#")
              img(src="files/img/wsn-b-logo-b3.png", alt="")

          p Today’s rumours are heading for the hip-hop chip shop  
          time 14 March 2016
          .label.label-default.sec-tips Tips

    article
      main
        .thumbnail
          img(src="files/img/article-2.jpg", alt="")
        .caption
          .label.label-default.sec-news News
          h3 
            a(href="#") Liverpool confident of signing Mario Götze because of Klopp connection
          p Arsenal Özil refuses to give up on Premier League title bid
          time 14 March 2016

  .row.list-cols.cols3
    article
      main
        .thumbnail
          img(src="files/img/article-2.jpg", alt="")
        .caption
          .label.label-default.sec-news News
          h3 
            a(href="#") Liverpool confident of signing Mario Götze because of Klopp connection
          p Arsenal Özil refuses to give up on Premier League title bid
          time 14 March 2016

    article
      main
        .thumbnail
          img(src="files/img/article-3.jpg", alt="")
        .caption.sp
          h3 
            a(href="#") Liverpool confident of signing Mario Götze because of Klopp connection
          strong.sp.b3
            em Sponsored by 
            a(href="#")
              img(src="files/img/wsn-b-logo-b3.png", alt="")

          p Today’s rumours are heading for the hip-hop chip shop  
          time 14 March 2016
          .label.label-default.sec-tips Tips

    article
      main
        .thumbnail
          img(src="files/img/article-2.jpg", alt="")
        .caption
          .label.label-default.sec-news News
          h3 
            a(href="#") Liverpool confident of signing Mario Götze because of Klopp connection
          p Arsenal Özil refuses to give up on Premier League title bid
          time 14 March 2016